html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

html {
  background-color: darkorange;
}

h1 {
  font: normal 5rem "Oleo Script", cursive;
  text-align: right;
  margin: 2rem;
  padding: 0 1rem;
  color: #EBF7FC;
  border-bottom: 8px solid #EBF7FC;
  border-right: 4px solid #EBF7FC;
  border-bottom-right-radius: 20px;
}

.library {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin: 30px;
}

.book-card {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 0.5rem;
  contain: paint; /* necessary to contain absolute position of delete button */
  background-color: #1D2021;
  color: white;
  border: 4px inset white;
  border-radius: 15px;
  padding: 1.5rem;
  min-width: 25%;
}

.book-card .title {
  font: bold 2.5rem Helvetica, serif;
}

.book-card .author {
  font: normal 1.5rem Arial, sans-serif;
}

.book-card .series {
  font-size: 1.25;
}

.book-card .pages {
  font-size: 1.25;
}

.book-card .read-status {
  display: flex;
  align-items: center;
  gap: 8px;
}

.book-card .read-status-label {
  font: bold 1.1rem bold monospace;
}

.book-card .read-status-toggle {
  background-color: #EBF7FC; 
  width: 15px;
  height: 15px;
}

.book-card .del-button {
  position: absolute;
  right: 0.5rem;
  bottom: 0.5rem;
  height: 2.25rem;
  width: 2.25rem;
  background-color: red;  
  color: #ECECEC;
  font: bold 1.1rem monospace;
  border-radius: 5px;
  text-align: center;
  vertical-align: middle;
}

.book-card .del-button:hover {
  color: white;
}


